{% extends "base.html" %}
{% block title %}To-Do / Principal{% endblock %}
{% block navbar %}
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/manage/">Manage To-Do lists</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span4">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Listas de Tareas</li>
              <li class="active"><a href="#">Lista 1</a></li>
              <li><a href="#">Lista 2</a></li>
              <li><a href="#">Lista 3</a></li>
              <li><a href="#">Lista 4</a></li>
              <li><a href="#add_list" id="addList"><span class="icon-plus"></span>Add new list</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span8">
            <div class="row-fluid" id="taks_container">
                <div class="span12">
                    <h2 class="edit_title" id="list_name" rel="2">Lista1</h2>
                    <a data-toggle="modal" href="#delList" class="btn btn-warning btn-lg"><span class="icon-minus"></span>Delete list and items</a>
                    <p class="edit" rel="2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                    <div id="todo_list" class="span12">
                        <ul id="sortable">
                            <li class="ui-state-default">Item 1</li>
                            <li class="ui-state-default">Item 2</li>
                            <li class="ui-state-default">Item 3</li>
                            <li class="ui-state-default">Item 4</li>
                            <li class="ui-state-default">Item 5</li>
                            <li class="ui-state-default">Item 6</li>
                            <li class="ui-state-default">Item 7</li>
                        </ul>
                    </div>

                </div><!--/span-->
            </div>
        </div>
    </div>

    <!--Modals-->
    <!--Modal Delete list-->
    <div class="modal fade" id="delList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Task List</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this list and all the items associated?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" id="deleteList">Delete</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal delete list-->

{% endblock %}
{% block externaljs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.js"></script>
<script type="text/javascript">
    $(document).on("ready", function(){
      // add list fomr
      $("#addList").on("click", function(evt){
        evt.preventDefault();

      });








      $('#deleteList').on('click', function(){
        var list_name = $("#list_name");
        var container = list_name.parent();
        $.ajax({
          url: '/delete/list/'+list_name.attr("rel")+"/",
          type: 'post',
          data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(){
            container.remove();
            $('#delList').modal('hide');
          },
          error: function(err){
            console.log(err);
            $('#delList').modal('hide');
          }
        });
      });
      $('.edit').editable('/save_edit/', {
              type      : 'textarea',
              cancel    : 'Cancelar',
              submit    : 'Guardar',
              tooltip   : 'Click para editar...',
              submitdata : {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  list: "2"
              }
          });
      $('.edit_title').editable('/save_list_title/', {
              type      : 'text',
              cssclass  : 'inherit',
              cancel    : 'Cancelar',
              submit    : 'Guardar',
              tooltip   : 'Click para editar...',
              submitdata : {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  list: "2"
              }
          });
      $( "#sortable" ).sortable({
          placeholder: "ui-state-highlight"
      }).disableSelection();
    });
</script>
{% endblock %}