<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{csrf_token}}">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ STATIC_URL }}css/icons/todo.png">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/general.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.css">
    {% block externalcss %}
    {% endblock %}
</head>
<body>
    <div class="container-narrow">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">To-Do List</a>
                    <div class="nav-collapse collapse">
                    {% if user.is_authenticated %}
                        <p class="navbar-text pull-right">
                            Logged in as <a href="#" class="navbar-link">{{ user }}</a> - <a href="#logout" id="logout">Logout</a>
                        </p>
                    {% endif %}
                        {% block navbar %}{% endblock %}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
    </div>
    <footer id="page_footer" class="center_element text-center">Makkoman 2013</footer>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src="{{ STATIC_URL }}js/underscore.js"></script>
<script src="{{ STATIC_URL }}js/backbone.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript">
  (function() {
    var _sync = Backbone.sync;
    Backbone.sync = function(method, model, options){
      options.beforeSend = function(xhr){
        var token = $('meta[name="csrf-token"]').attr('content');
        xhr.setRequestHeader('X-CSRFToken', token);
      };
      return _sync(method, model, options);
    };
  })();


  $(document).on("ready", function(){
    $("#logout").click(function(e){
      e.preventDefault();
      history.replaceState({}, ' ', '/');
      window.location = "/logout/";
    });
  });
</script>
{% block externaljs %}
{% endblock %}
</body>
</html>