{% extends "base.html" %}
{% block title %}To-Do / Principal{% endblock %}
{% block navbar %}
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/manage/">Manage To-Do lists</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
{% endblock %}
{% block content %}
  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked' : '' %>>
      <label><%- name %></label>
      <span class="priority <%- priority %>"></span>
      <button class="destroy"></button>
      <span class="description"><%- description %></span>
    </div>
    <input class="edit" value="<%- name %>">
    <textarea class="edit"><%- description %></textarea>
  </script>
  <script type="text/template" id="stats-template">
    <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
    <ul id="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <% if (completed) { %>
    <button id="clear-completed">Clear completed (<%= completed %>)</button>
    <% } %>
  </script>


    <div class="row-fluid">
        <div class="span4">
          <div class="well sidebar-nav" id="todolists">
            <ul class="nav nav-list">
              <li class="nav-header">Listas de Tareas</li>
              <li class="active"><a href="#">Lista 1</a></li>
              <li><a href="#">Lista 2</a></li>
              <li><a href="#">Lista 3</a></li>
              <li><a href="#">Lista 4</a></li>
              <li><a href="#add_list" id="addList"><span class="icon-plus"></span>Add new list</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span8">
            <div class="row-fluid" id="taks_container">
              <section id="todoapp" class="span12">
                <header id="header">
                  <h2 class="offset1">todos</h2>
                  <a data-toggle="modal" href="#delList" class="btn btn-warning btn-lg offset1"><span class="icon-minus"></span>Delete list and items</a>
                  <p class="editable offset1" rel="2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                  <input id="new-todo" placeholder="What needs to be done?" autofocus="autofocus"/>

                  <p id="operations" class="span12">
                    <input id="toggle-all" name="toggle-all" type="checkbox" class="input-mini pull-left"/>
                    <label for="toggle-all" class="span11">Mark all as complete</label>
                  </p>

                </header>
                <section id="main">



                  <ul id="todo-list">

                  </ul>

                </section>
                <footer id="footer"></footer>
              </section>
              <div id="info">
                <p>Double-click to edit a todo</p>
              </div>
          </div>
        </div>
    </div>

    <!--Modals-->
    <!--Modal Delete list-->
    <div class="modal fade" id="delList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Task List</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this list and all the items associated?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" id="deleteList">Delete</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal delete list-->

{% endblock %}
{% block externaljs %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/app/models/todo_list_items.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app/models/todo_items.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app/collections/todo_lists_collections.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app/collections/todos.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app/views/todo_lists.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app/views/todo_app.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app/views/todos.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/app/routers/todo_lists_router.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/app/app.js"></script>

<script type="text/javascript">
    var lista = {% if lista %}{{ lista| safe }} {% else %}[]{% endif %};
    $(document).on("ready", function(){
      var todoListApp = new TodoListApp(lista);
      todoListApp.start();







      // add list form
      $("#addList").on("click", function(evt){
        evt.preventDefault();
        console.log("add new list");
      });








      $('#deleteList').on('click', function(){
        var list_name = $("#list_name");
        var container = list_name.parent();
        $.ajax({
          url: '/delete/list/'+list_name.attr("rel")+"/",
          type: 'post',
          data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(){
            container.remove();
            $('#delList').modal('hide');
          },
          error: function(err){
            console.log(err);
            $('#delList').modal('hide');
          }
        });
      });
      $( "#todo_list_items" ).sortable({
          items: "li:not(.unsortable)",
          placeholder: "ui-state-highlight",
          distance: 35
      }).disableSelection();

      /*$(".expand").on("click", function(evt){
        evt.preventDefault();
        var details = $(this).next();
        details.slideToggle("fast");
      });*/
    });
</script>
{% endblock %}