{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    {% load custom_tags_n_filters %}
    <div id="login_widget" class="center_element text-center">
        {% if error %}
            <div class="alert text-error">{{ error }}</div>
        {% endif %}
        <form method="post" action=".">
            {% csrf_token %}
            <p>
                <label for="id_username">Nombre de usuario:</label>
                {{ form.username|add_class:"text-center" }}
            </p>
            <p>
                <label for="id_password">Contraseña:</label>
                {{ form.password|add_class:"text-center" }}
            </p>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>
    </div>

{% endblock %}
{% block externaljs %}
    <script type="text/javascript">
        history.forward();
        window.onbeforeunload = function (){
            history.forward();
        }
    </script>
{% endblock %}